.Title{
    color: rgb(255, 166, 0);
  text-shadow: -1px 1px 0 rgb(220, 120, 20);
    
   
}

.Title{
    text-align: center;
    margin: 30px;
    padding-top: 30px;
}

.P{
  color: rgb(252, 178, 42);
  font-size: 16px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}